<div class="lista-usuarios">

    <div *ngFor="let reserva of reservas">
        
        <mat-card *ngIf="reserva.nome" class="card-usuario">
            
            <mat-card-header class="usuario-header" >
                <mat-card-title class="usu-title" >
                    {{reserva.nome}} - {{reserva.cpf || '' | cpf}}
                </mat-card-title>            
            </mat-card-header>
            <mat-card-content class="usu-content">
                <span> Mesa {{reserva.mesa}} </span>
                <span>{{reserva.data}} - {{reserva.horario}}</span>
            </mat-card-content>
            <mat-card-footer class="usu-footer">
                <button (click)="editar(reserva)" mat-flat-button class="usu-edit">
                    Editar
                </button>
                <button (click)="cancelar(reserva)" mat-flat-button class="usu-cancel">
                    Cancelar
                </button>
            </mat-card-footer>
        </mat-card>
    </div>
</div>